<!DOCTYPE html>
<html>
    <style>
h1{
    background-color: black;
    color: white;
}
div.gallery {
    margin: 5px;
  display: inline-block;
    border: 1px solid #ccc;
    width: 180px;
  position:relative;
  font-family: helvetica;
  
}

div.gallery:hover {
    border: 1px solid black;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.price {
    padding: 15px;
    text-align: center;
  background-color:white;
}
    </style>
    <head>
<h1 align="center">MEN</h1>
    </head>
    <body>
      <div method ="GET" action="men"></div>

      <div class="gallery">
        <a target="_blank" href=" https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWnkjftgDrTCDZChpykj91eyeEx3h5l129R7YUWcs_J5ZRX9SZKNWoy6YBe4T2uOa4TK4cki_uzsfGPSOch3iEaZF1K-fY-iKiqBZ-HR1URm6JgZze_XMd&usqp=CAc">
          <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWnkjftgDrTCDZChpykj91eyeEx3h5l129R7YUWcs_J5ZRX9SZKNWoy6YBe4T2uOa4TK4cki_uzsfGPSOch3iEaZF1K-fY-iKiqBZ-HR1URm6JgZze_XMd&usqp=CAc" alt="shirt" width="300" height="200">
        </a>
        <div class="price">Formal Shirt<br>MRP 600</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSivFKPE8mvErdWQ3QupGii4iBUQb7vVC3PTm5zprj9I3nRp-i042b-0mxc9cpLy_vSpShbQJKP7K4LNknMfDC5qE5MU5b9sJKYXMXj27RSmA9WklA322ybbg&usqp=CAc">
          <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSivFKPE8mvErdWQ3QupGii4iBUQb7vVC3PTm5zprj9I3nRp-i042b-0mxc9cpLy_vSpShbQJKP7K4LNknMfDC5qE5MU5b9sJKYXMXj27RSmA9WklA322ybbg&usqp=CAc" alt="shirt" width="300" height="200">
        </a>
        <div class="price">Men's Rare shirt<br>MRP 699</div>
      </div>
      
      <div class="gallery">
          <a target="_blank" href=" https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRk8td8NIQxGhl19aHvoA5sppBFJttJ0j05otkq68PntD9hATjwCj0-2bYfQEr5LtQEsFRAuiyIwLlVjGcKncsSg0Q7SQ6wUa_7XY6GPpEvgFIn3SmQmht7&usqp=CAc ">
        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRk8td8NIQxGhl19aHvoA5sppBFJttJ0j05otkq68PntD9hATjwCj0-2bYfQEr5LtQEsFRAuiyIwLlVjGcKncsSg0Q7SQ6wUa_7XY6GPpEvgFIn3SmQmht7&usqp=CAc " alt="shirt" width="300" height="200">
        </a>
        <div class="price">Denim Combo <br>MRP 1000</div>
      </div>
        
        <div class="gallery">
        <a target="_blank" href="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRP-gF5Nc-cOXxruScWQWGeXO5k6YeCycVZ9iU5UMD_e4h862GBJE7LrnDR6rEMlVpG5BDTCpCtygwifaaWKn0R9PanxuCYhX1pFzSuHwy3ByVIq9dX0tQ3lg&usqp=CAc"> 
         <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRP-gF5Nc-cOXxruScWQWGeXO5k6YeCycVZ9iU5UMD_e4h862GBJE7LrnDR6rEMlVpG5BDTCpCtygwifaaWKn0R9PanxuCYhX1pFzSuHwy3ByVIq9dX0tQ3lg&usqp=CAc" alt="shirt" width="300" height="200">
      </a>
        <div class="price">Denim Jacket <br>MRP 700</div>
      </div>
          
      <div class="gallery">
          <a target="_blank" href="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTYFPIuZTH80kbFIAhivFR2MT1vrqje7LYKhOkSmyBBdYiZjXuoedo44JXkcd33uuD0eTcKF09OF6bQYKZwQDgEy9YfZMW5lnOT-YqdrMAzeSkG5V7a2Tx1&usqp=CAE">
            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTYFPIuZTH80kbFIAhivFR2MT1vrqje7LYKhOkSmyBBdYiZjXuoedo44JXkcd33uuD0eTcKF09OF6bQYKZwQDgEy9YfZMW5lnOT-YqdrMAzeSkG5V7a2Tx1&usqp=CAE" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Formal Blue Shirt<br>MRP 499</div>
      </div>
      
      <div class="gallery">
          <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM-aIWGFQwFOAfpzBvUcfVRqrm4ko-7CWCHA&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM-aIWGFQwFOAfpzBvUcfVRqrm4ko-7CWCHA&usqp=CAU" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Male  Fashion <br>MRP 900</div>
        </div>
      
        <div class="gallery">
          <a target="_blank" href="https://th.bing.com/th/id/OIP.0FIgaJ7XRhFPZLoLlTbvLwHaLH?w=182&h=273&c=7&r=0&o=5&dpr=1.3&pid=1.7">
            <img src= "https://th.bing.com/th/id/OIP.0FIgaJ7XRhFPZLoLlTbvLwHaLH?w=182&h=273&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Lifestyle Brand shirt<br>MRP 1700</div>
        </div>
        <div class="gallery">
          <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX7mfJWj7TZYmrx_-nwXAZoVL2fneAZGi0pQ&usqp=CAU">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX7mfJWj7TZYmrx_-nwXAZoVL2fneAZGi0pQ&usqp=CAU" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Blue fir Fashion Men Solid<br>MRP 700</div>
        </div>
      
      <div class="gallery">
        <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGz8njsebg9DHknCJnZ2RQClNiba7D0vNEwUTRK26S-J-pc-B4MULP-Ju8TbzMFNCqzKA&usqp=CAU">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGz8njsebg9DHknCJnZ2RQClNiba7D0vNEwUTRK26S-J-pc-B4MULP-Ju8TbzMFNCqzKA&usqp=CAU" alt="shirt" width="300" height="200">
        </a>
        <div class="price">Blue fir Fashion Men Solid<br>MRP 999</div>
      </div>
        
        <div class="gallery">
          <a target="_blank" href="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSYUjhcB1dvgxFoW_nhpdWFOcaZYp9KBE5Kza_Yty4Ha5L2AKE5NS6TVgMm9d2ZyTxIwjKb99crEoVBLrPvfGXjzUMSSh2YY7Ucxq3UBmYR_cTsUVe-3vrVdA&usqp=CAE">
            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSYUjhcB1dvgxFoW_nhpdWFOcaZYp9KBE5Kza_Yty4Ha5L2AKE5NS6TVgMm9d2ZyTxIwjKb99crEoVBLrPvfGXjzUMSSh2YY7Ucxq3UBmYR_cTsUVe-3vrVdA&usqp=CAE" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Men Blue Slim Fit<br>MRP 800</div>
        </div>
      
        <div class="gallery">
          <a target="_blank" href="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTOi1N2JNBesoxRJJxDzYsL5VgMBm-ZKJ0lac47ax-cZebs69CV4DincxXs4sFiTFBRY9pOCUxJdjTYsRZZUhlvfcZBA2H3MWK5EPQEspE&usqp=CAE">
            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTOi1N2JNBesoxRJJxDzYsL5VgMBm-ZKJ0lac47ax-cZebs69CV4DincxXs4sFiTFBRY9pOCUxJdjTYsRZZUhlvfcZBA2H3MWK5EPQEspE&usqp=CAE" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Attitude  Fashion <br>MRP 1000</div>
        </div>
      
        <div class="gallery">
          <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSye9vsWripETSqm9UWZhoHY3q61mtrI_VC8w&usqp=CAU">
            <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSye9vsWripETSqm9UWZhoHY3q61mtrI_VC8w&usqp=CAU" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Blue fir Fashion Men Solid<br>MRP 500</div>
        </div>
      
        <div class="gallery">
          <a target="_blank" href="https://th.bing.com/th/id/OIP.jcH2RlmN9ceOo00DFrxrfgHaJ4?w=165&h=220&c=7&r=0&o=5&dpr=1.3&pid=1.7">
            <img src= "https://th.bing.com/th/id/OIP.jcH2RlmN9ceOo00DFrxrfgHaJ4?w=165&h=220&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Blue fir Fashion Men Solid<br>MRP 1500</div>
        </div>
      
        <div class="gallery">
          <a target="_blank" href="https://th.bing.com/th/id/OIP.RVlVzy1udqLUKArCOGkMIgHaJ4?w=182&h=243&c=7&r=0&o=5&dpr=1.3&pid=1.7">
            <img src= "https://th.bing.com/th/id/OIP.RVlVzy1udqLUKArCOGkMIgHaJ4?w=182&h=243&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="shirt" width="300" height="200">
          </a>
          <div class="price">Formal Dress Men <br>MRP 500</div>
        </div>
      
        </div>
      
          </body>
      </html>