<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('https://wallpaperboat.com/wp-content/uploads/2020/11/10/60057/shopping-12.jpg');
            }
            h1{
                color: white;
                font-family: sans-serif;
            }
            form{
                color: white;
                font-family: sans-serif;
            }
        </style>
        <h1 align="left">SIGNUP</h1>
    </head>
    <body>
        <center>
        <form align="left" method="GET" action="/signupSubmit">
        name<br>
        <input type="text" name="name" placeholder="name" required><br><br>
        email<br>
        <input type="text" name="email" placeholder="email" required><br><br>
        phone<br>
        <input type="text" name="phone" placeholder="phone" required><br><br>
        password<br>
        <input type="password" name="password" Placeholder="password" required><br><br/>
        <input type="submit" value="signup">
        </form>
    </center>
    </body>
</html>