<!DOCTYPE html>
<html>
    <style>
h1{
    background-color: black;
    color: white;
}
div.gallery {
    margin: 5px;
  display: inline-block;
    border: 1px solid #ccc;
    width: 180px;
  position:relative;
  font-family: helvetica;
  
}

div.gallery:hover {
    border: 1px solid black;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.price {
    padding: 15px;
    text-align: center;
  background-color:white;
}
    </style>
    <head>
<h1 align="center">WOMEN</h1>
    </head>
    <body>
        <div method ="GET" action="women"></div>
<div class="gallery">
  <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/shirt_leggf9.png">
    <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/shirt_leggf9.png" alt="top" width="300" height="200">
  </a>
  <div class="price">Casual Top<br>Rs 799</div>
</div>

<div class="gallery">
  <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/pink_su4eyp.png">
    <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/pink_su4eyp.png" alt="pants" width="300" height="200">
  </a>
  <div class="price">Pink Pants <br>Rs 699</div>
</div>

<div class="gallery">
    <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/pants_tjrbx0.png">
  <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/pants_tjrbx0.png" alt="combo" width="300" height="200">
  </a>
  <div class="price">Denim Combo <br>Rs 1159</div>
</div>
  
  <div class="gallery">
  <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/jacket_nfcov5.png">
    <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/jacket_nfcov5.png" alt="jacket" width="300" height="200">
  </a>
  <div class="price">Denim Jacket <br>Rs 879</div>
</div>
  
<div class="gallery">
  <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/dress2_uxttkd.png">
    <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/dress2_uxttkd.png" alt="dressy" width="300" height="200">
  </a>
  <div class="price">Night Out Dress<br>Rs 529</div>
</div>
  
  <div class="gallery">
  <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/dress1_mwxgbb.png">
    <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/dress1_mwxgbb.png" alt="dress" width="300" height="200">
  </a>
  <div class="price">Buttoned Dress <br>Rs 999</div>
</div>
  
  <div class="gallery">
  <a target="_blank" href="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/crop_t7wwso.png">
    <img src="http://res.cloudinary.com/dabfyhdoz/image/upload/v1524685644/crop_t7wwso.png" alt="crop" width="300" height="200">
  </a>
  <div class="price">Crop Top <br>Rs 899</div>
</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="https://th.bing.com/th/id/OIP.6bqW9_PtTtziBCbkK46GtAHaLH?w=182&h=273&c=7&r=0&o=5&dpr=1.3&pid=1.7">
      <img src="https://th.bing.com/th/id/OIP.6bqW9_PtTtziBCbkK46GtAHaLH?w=182&h=273&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="top" width="300" height="200">
    </a>
    <div class="price">Designer Blue Dress<br>Rs 1799</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://th.bing.com/th/id/OIP.yoJt7FqVKrW5NM1y0KatQgHaLG?pid=ImgDet&w=204&h=306&c=7&dpr=1.3">
      <img src="https://th.bing.com/th/id/OIP.yoJt7FqVKrW5NM1y0KatQgHaLG?pid=ImgDet&w=204&h=306&c=7&dpr=1.3" alt="pants" width="300" height="200">
    </a>
    <div class="price">Evarose Dress <br>Rs 2699</div>
  </div>
  
  <div class="gallery">
      <a target="_blank" href="https://th.bing.com/th/id/OIP.Z3K7-yOJTTAw7Nr1_goaqQHaLH?pid=ImgDet&rs=1">
    <img src="https://th.bing.com/th/id/OIP.Z3K7-yOJTTAw7Nr1_goaqQHaLH?pid=ImgDet&rs=1" alt="combo" width="300" height="200">
    </a>
    <div class="price">Fancy Dress <br>Rs 859</div>
  </div>
    
    <div class="gallery">
    <a target="_blank" href="https://i.pinimg.com/originals/dc/9c/fd/dc9cfd4c745ed2f577133eb76e4a3977.png">
      <img src="https://i.pinimg.com/originals/dc/9c/fd/dc9cfd4c745ed2f577133eb76e4a3977.png" alt="jacket" width="300" height="200">
    </a>
    <div class="price">Seafoam Dress <br>Rs 1879</div>
  </div>
    
  <div class="gallery">
    <a target="_blank" href="https://th.bing.com/th/id/OIP.pMoEdb7xHgKNeTi5pE0H2QHaLH?pid=ImgDet&w=204&h=306&c=7&dpr=1.3">
      <img src="https://th.bing.com/th/id/OIP.pMoEdb7xHgKNeTi5pE0H2QHaLH?pid=ImgDet&w=204&h=306&c=7&dpr=1.3" alt="dressy" width="300" height="200">
    </a>
    <div class="price">Swing Slim Dress<br>Rs 529</div>
  </div>
    
    <div class="gallery">
    <a target="_blank" href="https://th.bing.com/th/id/OIP.XaC4ENyo-S97M7LAkQ4u_wAAAA?pid=ImgDet&w=204&h=306&c=7&dpr=1.3">
      <img src="https://th.bing.com/th/id/OIP.XaC4ENyo-S97M7LAkQ4u_wAAAA?pid=ImgDet&w=204&h=306&c=7&dpr=1.3" alt="dress" width="300" height="200">
    </a>
    <div class="price">Floral Dress <br>Rs 1999</div>
  </div>
    
    <div class="gallery">
    <a target="_blank" href="https://th.bing.com/th/id/OIP.Z_EX-VyKEpcwrctnZYSX7gHaLH?pid=ImgDet&w=204&h=306&c=7&dpr=1.3">
      <img src="https://th.bing.com/th/id/OIP.Z_EX-VyKEpcwrctnZYSX7gHaLH?pid=ImgDet&w=204&h=306&c=7&dpr=1.3" alt="crop" width="300" height="200">
    </a>
    <div class="price">Black Dress<br>Rs 1899</div>
  </div>
    </div>
    </body>
</html>